<%= form_for(credit_card_entry) do |f| %>
  <% if credit_card_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card_entry.errors.count, "error") %> prohibited this credit_card_entry from being saved:</h2>

      <ul>
      <% credit_card_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit_card_id %>
    <%= f.text_field :credit_card_id %>
  </div>

  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.date_select :expiration_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
