<p id="notice"><%= notice %></p>

<h1>Credit Card Entries</h1>

<table>
  <thead>
    <tr>
      <th>Credit card</th>
      <th>Expiration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_card_entries.each do |credit_card_entry| %>
      <tr>
        <td><%= credit_card_entry.credit_card %></td>
        <td><%= credit_card_entry.expiration_date %></td>
        <td><%= link_to 'Show', credit_card_entry %></td>
        <td><%= link_to 'Edit', edit_credit_card_entry_path(credit_card_entry) %></td>
        <td><%= link_to 'Destroy', credit_card_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Card Entry', new_credit_card_entry_path %>
