<p id="notice"><%= notice %></p>

<p>
  <strong>Credit card:</strong>
  <%= @credit_card_entry.credit_card %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @credit_card_entry.expiration_date %>
</p>

<%= link_to 'Edit', edit_credit_card_entry_path(@credit_card_entry) %> |
<%= link_to 'Back', credit_card_entries_path %>
