<%= form_for(transition) do |f| %>
  <% if transition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transition.errors.count, "error") %> prohibited this transition from being saved:</h2>

      <ul>
      <% transition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry_id %>
    <%= f.text_field :entry_id %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :payment_option %>
    <%= f.text_field :payment_option %>
  </div>

  <div class="field">
    <%= f.label :base_container_id %>
    <%= f.text_field :base_container_id %>
  </div>

  <div class="field">
    <%= f.label :divided %>
    <%= f.number_field :divided %>
  </div>

  <div class="field">
    <%= f.label :billing_card_closed %>
    <%= f.check_box :billing_card_closed %>
  </div>

  <div class="field">
    <%= f.label :canceled %>
    <%= f.check_box :canceled %>
  </div>

  <div class="field">
    <%= f.label :confirmed %>
    <%= f.check_box :confirmed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
