<p id="notice"><%= notice %></p>

<h1>Transitions</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Valor</th>
      <th>Valor</th>
      <th>Date</th>
      <th>Payment option</th>
      <th>Base container</th>
      <th>Divided</th>
      <th>Billing card closed</th>
      <th>Canceled</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transitions.each do |transition| %>
      <tr>
        <td><%= transition.entry %></td>
        <td><%= transition.valor %></td>
        <td><%= transition.valor %></td>
        <td><%= transition.date %></td>
        <td><%= transition.payment_option %></td>
        <td><%= transition.base_container %></td>
        <td><%= transition.divided %></td>
        <td><%= transition.billing_card_closed %></td>
        <td><%= transition.canceled %></td>
        <td><%= transition.confirmed %></td>
        <td><%= link_to 'Show', transition %></td>
        <td><%= link_to 'Edit', edit_transition_path(transition) %></td>
        <td><%= link_to 'Destroy', transition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transition', new_transition_path %>
