<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @transition.entry %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @transition.valor %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @transition.valor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transition.date %>
</p>

<p>
  <strong>Payment option:</strong>
  <%= @transition.payment_option %>
</p>

<p>
  <strong>Base container:</strong>
  <%= @transition.base_container %>
</p>

<p>
  <strong>Divided:</strong>
  <%= @transition.divided %>
</p>

<p>
  <strong>Billing card closed:</strong>
  <%= @transition.billing_card_closed %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @transition.canceled %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @transition.confirmed %>
</p>

<%= link_to 'Edit', edit_transition_path(@transition) %> |
<%= link_to 'Back', transitions_path %>
