<%= form_for(base_container) do |f| %>
  <% if base_container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(base_container.errors.count, "error") %> prohibited this base_container from being saved:</h2>

      <ul>
      <% base_container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pay_debit %>
    <%= f.check_box :pay_debit %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
