<p id="notice"><%= notice %></p>

<h1>Base Containers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Type</th>
      <th>Name</th>
      <th>Pay debit</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_containers.each do |base_container| %>
      <tr>
        <td><%= base_container.user %></td>
        <td><%= base_container.type %></td>
        <td><%= base_container.name %></td>
        <td><%= base_container.pay_debit %></td>
        <td><%= base_container.active %></td>
        <td><%= link_to 'Show', base_container %></td>
        <td><%= link_to 'Edit', edit_base_container_path(base_container) %></td>
        <td><%= link_to 'Destroy', base_container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base Container', new_base_container_path %>
