<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @base_container.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @base_container.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_container.name %>
</p>

<p>
  <strong>Pay debit:</strong>
  <%= @base_container.pay_debit %>
</p>

<p>
  <strong>Active:</strong>
  <%= @base_container.active %>
</p>

<%= link_to 'Edit', edit_base_container_path(@base_container) %> |
<%= link_to 'Back', base_containers_path %>
