<%= form_for(recurrent_entry) do |f| %>
  <% if recurrent_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recurrent_entry.errors.count, "error") %> prohibited this recurrent_entry from being saved:</h2>

      <ul>
      <% recurrent_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recurrent_entry_info_id %>
    <%= f.text_field :recurrent_entry_info_id %>
  </div>

  <div class="field">
    <%= f.label :quota %>
    <%= f.number_field :quota %>
  </div>

  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.date_select :expiration_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
