<p id="notice"><%= notice %></p>

<h1>Recurrent Entries</h1>

<table>
  <thead>
    <tr>
      <th>Recurrent entry info</th>
      <th>Quota</th>
      <th>Expiration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurrent_entries.each do |recurrent_entry| %>
      <tr>
        <td><%= recurrent_entry.recurrent_entry_info %></td>
        <td><%= recurrent_entry.quota %></td>
        <td><%= recurrent_entry.expiration_date %></td>
        <td><%= link_to 'Show', recurrent_entry %></td>
        <td><%= link_to 'Edit', edit_recurrent_entry_path(recurrent_entry) %></td>
        <td><%= link_to 'Destroy', recurrent_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurrent Entry', new_recurrent_entry_path %>
