<p id="notice"><%= notice %></p>

<p>
  <strong>Recurrent entry info:</strong>
  <%= @recurrent_entry.recurrent_entry_info %>
</p>

<p>
  <strong>Quota:</strong>
  <%= @recurrent_entry.quota %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @recurrent_entry.expiration_date %>
</p>

<%= link_to 'Edit', edit_recurrent_entry_path(@recurrent_entry) %> |
<%= link_to 'Back', recurrent_entries_path %>
