<%= form_for(credit_card) do |f| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expiration_day %>
    <%= f.number_field :expiration_day %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
