<p id="notice"><%= notice %></p>

<p>
  <strong>Expiration day:</strong>
  <%= @credit_card.expiration_day %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
