<p id="notice"><%= notice %></p>

<p>
  <strong>Starting balance:</strong>
  <%= @container.starting_balance %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
