<%= form_for(regular_entry) do |f| %>
  <% if regular_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regular_entry.errors.count, "error") %> prohibited this regular_entry from being saved:</h2>

      <ul>
      <% regular_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :regular_entry_info_id %>
    <%= f.text_field :regular_entry_info_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
