<p id="notice"><%= notice %></p>

<h1>Regular Entries</h1>

<table>
  <thead>
    <tr>
      <th>Regular entry info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regular_entries.each do |regular_entry| %>
      <tr>
        <td><%= regular_entry.regular_entry_info %></td>
        <td><%= link_to 'Show', regular_entry %></td>
        <td><%= link_to 'Edit', edit_regular_entry_path(regular_entry) %></td>
        <td><%= link_to 'Destroy', regular_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regular Entry', new_regular_entry_path %>
