<p id="notice"><%= notice %></p>

<p>
  <strong>Regular entry info:</strong>
  <%= @regular_entry.regular_entry_info %>
</p>

<%= link_to 'Edit', edit_regular_entry_path(@regular_entry) %> |
<%= link_to 'Back', regular_entries_path %>
