<%= form_for(regular_entry_info) do |f| %>
  <% if regular_entry_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regular_entry_info.errors.count, "error") %> prohibited this regular_entry_info from being saved:</h2>

      <ul>
      <% regular_entry_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>

  <div class="field">
    <%= f.label :nature %>
    <%= f.text_field :nature %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :estimated_value %>
    <%= f.text_field :estimated_value %>
  </div>

  <div class="field">
    <%= f.label :auto_adjust %>
    <%= f.check_box :auto_adjust %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
