<p id="notice"><%= notice %></p>

<h1>Regular Entry Infos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Nature</th>
      <th>Name</th>
      <th>Estimated value</th>
      <th>Auto adjust</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regular_entry_infos.each do |regular_entry_info| %>
      <tr>
        <td><%= regular_entry_info.user %></td>
        <td><%= regular_entry_info.category %></td>
        <td><%= regular_entry_info.nature %></td>
        <td><%= regular_entry_info.name %></td>
        <td><%= regular_entry_info.estimated_value %></td>
        <td><%= regular_entry_info.auto_adjust %></td>
        <td><%= link_to 'Show', regular_entry_info %></td>
        <td><%= link_to 'Edit', edit_regular_entry_info_path(regular_entry_info) %></td>
        <td><%= link_to 'Destroy', regular_entry_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regular Entry Info', new_regular_entry_info_path %>
