<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @regular_entry_info.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @regular_entry_info.category %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @regular_entry_info.nature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @regular_entry_info.name %>
</p>

<p>
  <strong>Estimated value:</strong>
  <%= @regular_entry_info.estimated_value %>
</p>

<p>
  <strong>Auto adjust:</strong>
  <%= @regular_entry_info.auto_adjust %>
</p>

<%= link_to 'Edit', edit_regular_entry_info_path(@regular_entry_info) %> |
<%= link_to 'Back', regular_entry_infos_path %>
