<h1>Editing Recurrent Entry Info</h1>

<%= render 'form', recurrent_entry_info: @recurrent_entry_info %>

<%= link_to 'Show', @recurrent_entry_info %> |
<%= link_to 'Back', recurrent_entry_infos_path %>
