<p id="notice"><%= notice %></p>

<h1>Recurrent Entry Infos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Nature</th>
      <th>Name</th>
      <th>Estimated value</th>
      <th>Expiration day</th>
      <th>Expiration date</th>
      <th>Quotas</th>
      <th>Active</th>
      <th>Auto confirm</th>
      <th>Container</th>
      <th>Auto adjust</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurrent_entry_infos.each do |recurrent_entry_info| %>
      <tr>
        <td><%= recurrent_entry_info.user %></td>
        <td><%= recurrent_entry_info.category %></td>
        <td><%= recurrent_entry_info.nature %></td>
        <td><%= recurrent_entry_info.name %></td>
        <td><%= recurrent_entry_info.estimated_value %></td>
        <td><%= recurrent_entry_info.expiration_day %></td>
        <td><%= recurrent_entry_info.expiration_date %></td>
        <td><%= recurrent_entry_info.quotas %></td>
        <td><%= recurrent_entry_info.active %></td>
        <td><%= recurrent_entry_info.auto_confirm %></td>
        <td><%= recurrent_entry_info.container %></td>
        <td><%= recurrent_entry_info.auto_adjust %></td>
        <td><%= link_to 'Show', recurrent_entry_info %></td>
        <td><%= link_to 'Edit', edit_recurrent_entry_info_path(recurrent_entry_info) %></td>
        <td><%= link_to 'Destroy', recurrent_entry_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurrent Entry Info', new_recurrent_entry_info_path %>
