<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recurrent_entry_info.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recurrent_entry_info.category %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @recurrent_entry_info.nature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recurrent_entry_info.name %>
</p>

<p>
  <strong>Estimated value:</strong>
  <%= @recurrent_entry_info.estimated_value %>
</p>

<p>
  <strong>Expiration day:</strong>
  <%= @recurrent_entry_info.expiration_day %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @recurrent_entry_info.expiration_date %>
</p>

<p>
  <strong>Quotas:</strong>
  <%= @recurrent_entry_info.quotas %>
</p>

<p>
  <strong>Active:</strong>
  <%= @recurrent_entry_info.active %>
</p>

<p>
  <strong>Auto confirm:</strong>
  <%= @recurrent_entry_info.auto_confirm %>
</p>

<p>
  <strong>Container:</strong>
  <%= @recurrent_entry_info.container %>
</p>

<p>
  <strong>Auto adjust:</strong>
  <%= @recurrent_entry_info.auto_adjust %>
</p>

<%= link_to 'Edit', edit_recurrent_entry_info_path(@recurrent_entry_info) %> |
<%= link_to 'Back', recurrent_entry_infos_path %>
