<%= form_for(transfer) do |f| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :from_container_id %>
    <%= f.text_field :from_container_id %>
  </div>

  <div class="field">
    <%= f.label :to_container_id %>
    <%= f.text_field :to_container_id %>
  </div>

  <div class="field">
    <%= f.label :transfer_date %>
    <%= f.date_select :transfer_date %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
