<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transfer.user %>
</p>

<p>
  <strong>From container:</strong>
  <%= @transfer.from_container %>
</p>

<p>
  <strong>To container:</strong>
  <%= @transfer.to_container %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @transfer.transfer_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @transfer.value %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
