<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @category.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @category.nature %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
